DATABASE_URL="file:./dev.db" # Atau postgresql://... untuk Vercel/Supabase
OLSERA_EMAIL="bapendapedua@gmail.com"
OLSERA_PASSWORD="bapenda123"
OLSERA_STORE_URL_ID="naikicafe"
OLSERA_STORE_NAME="Naiki cafe"
CRON_SECRET="kasir_api_cron_secret_2026"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
